@model IEnumerable<Ilan>


@if (Model == null)
{
  <div class="rounded bg-secondary text-center py-3 mb-3">
  <h1>İlanınız bulunmamaktadır!</h1>
</div>
}
else
{
  <div class="rounded bg-secondary text-center py-3 mb-3">
  <h1>İlanlarım</h1>
</div>
  <section style="background-color: #eee;" class="rounded-3">
  <div class="container py-5">

    @foreach (var ilan in Model)
      {
        var firstImageUrl = ilan.Resims.FirstOrDefault().Url;
        <div class="row justify-content-center mb-3">
          <div class="col-md-12 col-xl-10">
            <div class="card shadow-0 border rounded-2">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                    <div class="bg-image hover-zoom ripple rounded ripple-surface">
                      <img src="@firstImageUrl" class="w-100" />
                      <a href="#!">
                        <div class="hover-overlay">
                          <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-6">
                    <h5>@ilan.Title</h5>
                    <div class="d-flex flex-row">
                      @{
                        // İlçe adını büyük harf ile formatlamak için yardımcı fonksiyon
                        string FormatString(string input)
                        {
                          var words = input.Split(' ');
                          for (int i = 0; i < words.Length; i++)
                          {
                            if (!string.IsNullOrWhiteSpace(words[i]))
                            {
                              words[i] = char.ToUpper(words[i][0]) + words[i].Substring(1).ToLower();
                            }
                          }
                          return string.Join(" ", words);
                        }

                        var formattedIlce = FormatString(@ilan.Ilce);
                        var formattedSemt = FormatString(@ilan.Semt);
                      }
                      @($"{@ilan.Il}/{formattedIlce}/{formattedSemt}")
                    </div>
                    <div class="mt-1 mb-0 text-muted small">
                      <span>@ilan.Size m²</span>
                      <span class="text-primary"> • </span>
                      <span>@(ilan.Furnished ? "Eşyalı" : "Eşya değil")</span>
                      <span class="text-primary"> • </span>
                      <span>@ilan.NumberOfRooms odalı Ev</span>
                    </div>
                    <div class="mb-2 text-muted small">
                      <span>Hayvan @(ilan.Animal ? "bakılabilir" : "bakılamaz")</span>
                      <span class="text-primary"> • </span>
                      <span>Sigara @(ilan.Cigarette ? "içilebilir" : "içilemez")</span>
                    </div>
                    <p class="text-truncate mb-4 mb-md-0">
                      @ilan.RoomAndHomeDetails
                    </p>
                  </div>
                  <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                    <div class="d-flex flex-row align-items-center mb-1">
                      <h4 class="mb-1 me-1">Kira: @ilan.Price</h4>
                    </div>
                    <h6 class="text-warning">Depozito: @ilan.Deposit</h6>
                    <div class="d-flex flex-column mt-4">
                      <a asp-action="Details" asp-route-Id="@ilan.Id" class="btn btn-primary btn-sm">Details</a>
                      <!-- #region <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-sm" asp-action="Details" asp-route-Id="@ilan.Id">Details</button>-->
                      <!-- #region <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary btn-sm mt-2" type="button">Add to wishlist</button>-->
                      <div class="row text-center">
                        <div class="col-6">
                          <a asp-controller="Ilanlar" asp-action="Edit" asp-route-id="@ilan.Id"
                            class="btn btn-outline-primary btn-sm mt-2 col-12"><i class="bi bi-pencil-square"></i> Edit</a>
                        </div>
                        <div class="col-6">
                          <a asp-controller="Ilanlar" asp-action="Delete" asp-route-id="@ilan.Id"
                            class="btn btn-outline-primary btn-sm mt-2 col-12"><i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }


    </div>
  </section>
}
